h1 {
  background-color: #212529;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px 20px;
}

.submissions > li {
  cursor: pointer;
}

.submissions > li:hover {
  font-weight: bold;
}

.header-description, .footer-head, .footer-body {
  margin: auto;
  padding: 10px 4% 5px 4%;
}

.footer-head {
  font-size: calc(10px + 2vmin);
}

.footer {
  margin-bottom: 30px;
}

.form {
  width: 80%;
  margin: 35px auto;
  padding: 3%;
  border-radius: 15px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.17);
}

.form-button {
  margin: 30px 0 0 0;
  text-align: right;
}

.form-button > * {
  width: 95px;
}

.logo-img {
  margin-bottom: 16px;
  display: none;
}